<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Coupled_mass_spring_system.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Coupled_mass_spring_system.Properties.Settings>
      <setting name="sett_mass_m1" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="sett_mass_m2" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="sett_stiff_k1" serializeAs="String">
        <value>1200</value>
      </setting>
      <setting name="sett_stiff_k2" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="sett_stiff_k3" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="sett_zeta_1" serializeAs="String">
        <value>0.015</value>
      </setting>
      <setting name="sett_zeta_2" serializeAs="String">
        <value>0.015</value>
      </setting>
      <setting name="sett_fr_fampl1" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="sett_fr_fampl2" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="sett_fr_ffreq1" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="sett_fr_ffreq2" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="sett_fr_fstart" serializeAs="String">
        <value>0.01</value>
      </setting>
      <setting name="sett_fr_fend" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="sett_fr_finterval" serializeAs="String">
        <value>0.001</value>
      </setting>
      <setting name="sett_tr_fampl1" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="sett_tr_fampl2" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="sett_tr_ffreq1" serializeAs="String">
        <value>0.2</value>
      </setting>
      <setting name="sett_tr_ffreq2" serializeAs="String">
        <value>0.8</value>
      </setting>
      <setting name="sett_tr_tstart" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="sett_tr_tend" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="sett_tr_tinterval" serializeAs="String">
        <value>0.001</value>
      </setting>
      <setting name="sett_tr_idispl1" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="sett_tr_idsipl2" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="sett_tr_ivelo1" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="sett_tr_ivelo2" serializeAs="String">
        <value>0</value>
      </setting>
    </Coupled_mass_spring_system.Properties.Settings>
  </userSettings>
</configuration>
